<table>
    <thead>
    <th>name</th>
    <th>value</th>
    <th>max</th>
    <th>min</th>
    </thead>
    <tbody>
    <tr>
        <td>heading</td>
        <td>{{data.heading}}</td>
        <td>{{max-value value=data.heading key="heading"}}</td>
        <td>{{min-value stats=stats value=data.heading key="heading"}}</td>
    </tr>
    <tr>
        <td>pitch</td>
        <td>{{data.pitch}}</td>
        <td>{{max-value value=data.pitch key="pitch"}}</td>
        <td>{{min-value stats=stats value=data.pitch key="pitch"}}</td>
    </tr>
    <tr>
        <td>roll</td>
        <td>{{data.roll}}</td>
        <td>{{max-value value=data.roll key="roll"}}</td>
        <td>{{min-value stats=stats value=data.roll key="roll"}}</td>
    </tr>
    <tr>
        <td>accelX</td>
        <td>{{data.accelX}}</td>
        <td>{{max-value value=data.accelX key="accelX"}}</td>
        <td>{{min-value stats=stats value=data.accelX key="accelX"}}</td>
    </tr>
    <tr>
        <td>accelY</td>
        <td>{{data.accelY}}</td>
        <td>{{max-value value=data.accelY key="accelY"}}</td>
        <td>{{min-value stats=stats value=data.accelY key="accelY"}}</td>
    </tr>
    <tr>
        <td>accelZ</td>
        <td>{{data.accelZ}}</td>
        <td>{{max-value value=data.accelZ key="accelZ"}}</td>
        <td>{{min-value stats=stats value=data.accelZ key="accelZ"}}</td>
    </tr>
    <tr>
        <td>velocityX</td>
        <td>{{data.velocityX}}</td>
        <td>{{max-value value=data.velocityX key="velocityX"}}</td>
        <td>{{min-value stats=stats value=data.velocityX key="velocityX"}}</td>
    </tr>
    <tr>
        <td>velocityY</td>
        <td>{{data.velocityY}}</td>
        <td>{{max-value value=data.velocityY key="velocityY"}}</td>
        <td>{{min-value stats=stats value=data.velocityY key="velocityY"}}</td>
    </tr>
    <tr>
        <td>velocityZ</td>
        <td>{{data.velocityZ}}</td>
        <td>{{max-value value=data.velocityZ key="velocityZ"}}</td>
        <td>{{min-value stats=stats value=data.velocityZ key="velocityZ"}}</td>
    </tr>
    </tbody>
</table>